<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ceamback.project.member.mapper.MemberMapper">

    <resultMap id="MemberResult" type="Member">
        <id property="id" column="id" />
        <result property="memberName" column="member_name" />
        <result property="sex" column="sex" />
        <result property="birthday" column="birthday" />
        <result property="weiXin" column="weixin" />
        <result property="telNumber" column="tel_number" />
        <result property="levelId" column="level_id" />
        <result property="levelName" column="level_name" />
    </resultMap>

    <select id="selectList" resultMap="MemberResult" parameterType="Member">
        select
        a.*,
        b.level_name
        from member a
        left join member_level b on a.level_id = b.level_id
        <where>
            <if test="memberName != null and memberName != ''">
                a.member_name = #{memberName}
            </if>
            <if test="telNumber != null and telNumber != ''">
                and a.tel_number = #{telNumber}
            </if>
        </where>
    </select>

    <select id="selectMember" resultMap="MemberResult">
        select * from member where id = #{id}
    </select>

    <insert id="add" parameterType="Member">
        insert into member
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="memberName != null and memberName != ''">member_name,</if>
            <if test="sex != null">sex,</if>
            <if test="birthday != null">birthday,</if>
            <if test="weiXin != null and weiXin != ''">weixin,</if>
            <if test="telNumber != null and telNumber != ''">tel_number,</if>
            <if test="levelId != null and levelId != ''">level_id</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="memberName != null and memberName != ''">#{memberName},</if>
            <if test="sex != null">#{sex},</if>
            <if test="birthday != null">#{birthday},</if>
            <if test="weiXin != null and weiXin != ''">#{weiXin },</if>
            <if test="telNumber != null and telNumber != ''">#{telNumber},</if>
            <if test="levelId != null and levelId != ''">#{levelId}</if>
        </trim>
    </insert>

    <update id="edit" parameterType="Member">
        update member
        <set>
            <trim suffixOverrides=",">
                <if test="memberName != null and memberName != ''">member_name = #{memberName},</if>
                <if test="sex != null">sex = #{sex},</if>
                <if test="birthday != null">birthday = #{birthday},</if>
                <if test="weiXin != null and weiXin != ''">weixin = #{weiXin },</if>
                <if test="telNumber != null and telNumber != ''">tel_number = #{telNumber},</if>
                <if test="levelId != null and levelId != ''">level_id = #{levelId}</if>
            </trim>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteById">
        delete from member where id = #{id}
    </delete>

    <delete id="deleteByIds">
        delete from member where id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
