<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ceamback.project.member.mapper.MemberLevelMapper">

    <resultMap id="MemberLevelResult" type="MemberLevel">
        <id property="levelId" column="level_id" />
        <result property="levelName" column="level_name" />
        <result property="description" column="description" />
    </resultMap>

    <select id="selectMemberLevelList" parameterType="MemberLevel" resultMap="MemberLevelResult">
        select * from member_level
    </select>

    <select id="selectMemberLevelById" resultMap="MemberLevelResult">
        select * from member_level where level_id = #{id}
    </select>

    <select id="checkLevelNameUnique" parameterType="String" resultType="int">
        select count(1) from member_level where level_name = #{levelName}
    </select>

    <insert id="addMemberLevel" parameterType="MemberLevel">
        insert into member_level(level_name,description)values (#{levelName},#{description})
    </insert>

    <update id="editMemberLevel" parameterType="MemberLevel">
        update member_level
        <set>
            level_name = #{levelName},
            description = #{description}
        </set>
        where level_id = #{levelId}
    </update>

    <delete id="deleteMemberLevelById">
        delete from member_level where level_id = #{id}
    </delete>

    <delete id="deleteMemberLevelByIds">
        delete from member_level where level_id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
